.loginPage {
    background-image: url(../../static/background2.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
    vertical-align: top;
}

.name {
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 5%;
    font-size: 40px;
    color: #2D292A;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.login {
    background-color: #2D292A;
    border-width: 0;
    border-style: solid;
    border-radius: 20px;
    padding: .5em;
    width: 175px;
}

.login:hover {
    opacity:0.9;
}

.login p {
    top: 10 5 10 5;
    font-size: 25px;
    font-weight: 500;
    color: #E1D7D6;
    text-align: center;
}