.links {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

/*

.name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 570px;
  vertical-align: top;
}

.App-name {
	background-color: #2D292A;
	border-width: 0;
    border-style: solid;
    border-radius: 20px;
    padding: .5em;
    width: 300px;
}

.App-name p {
	top: 10 5 10 5;
	font-size: 40px;
	font-weight: 500;
	color: #E1D7D6;
	text-align: center;
}
*/

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 630px;
}

.login {
	background-color: #2D292A;
	border-width: 0;
    border-style: solid;
    border-radius: 20px;
    padding: .5em;
    width: 175px;
}

.login:hover {
	opacity:0.9;
}

.login p {
	top: 10 5 10 5;
	font-size: 25px;
	font-weight: 500;
	color: #E1D7D6;
	text-align: center;
}