.App {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: grid; /* Sets the element to grid mode */
  grid-template-columns: 2fr 1fr; /*  We want 2 columns, with the first column 2/3 of the space */
  grid-column-gap: 20px; /* give us 20px margin between columns */
  grid-template-rows: 1fr 2fr 3fr 2fr 1fr; /*5 rows, little on top and bottom, larger in middle*/
  grid-row-gap: 20px;
  height: 100vh; /*  vh lets you always make the container full screen height. So EASY! */
  justify-items: stretch;
  align-items: stretch;
  max-width: 1600px;
}

.App-header {
  grid-column: 1/2; /* put the header only in the first column */
  background-color:grey;
}

.topArtists {
  grid-column: 1/1; /* put the header only in the first column */
  grid-row: 2/5;
}

.favArtists {
  grid-column:1/3;
}

.topArtist {
  grid-column: 2/3; /* put the player in the second column */
  grid-row: 2/5; /*  spread the player over rows 2, 3, and 4 (stopping at edge of 5)*/
  background-color:yellow;
}

.suggestedArtists {
  grid-column: 1/1;
  grid-row: 4;
  background-color:blue;
}

.footer {
  grid-column: 1/3; /* spread footer across cols 1 and 2. (start at 1, end where 3 would be)*/
  grid-row: 5; /* put footer in the 5th row (starting at row 4 edge) */
  max-width:800px;    /* offsets our footer to the left on big screens and looks classy */
  background-color:green;
}

.App-title {
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
